body {
	margin-top: 0;
	background-color: #eddcd2;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	border: none;
	cursor: pointer;
}

main {
	margin: 0 auto;
	max-width: 1100px;
	height: 100vh;
	background: white;
	border-style: none solid;
	border-color: black;
}

.form-box {
	padding: 10px 10px;
	display: flex;
	flex-direction: column;
}

.form-box-buttons {
	padding: 10px 10px;
	display: flex;
	justify-content: flex-end;
}

.page-header {
	display: flex;
	justify-content: center;
}

.action-buttons {
	display: flex;
	justify-content: space-around;
}

