body {
	margin-top: 0;
	background-color: #eddcd2;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

button {
	border: none;
	cursor: pointer;
}

main {
	margin: 0 auto;
	max-width: 1100px;
	height: 100vh;
	background: white;
	border-style: none solid;
	border-color: black;
}

.page-header {
	display: flex;
	justify-content: center;
}

.action-buttons {
	display: flex;
	justify-content: space-around;
}

