table {
    margin-top: 20px;
    width: 100%;
}

th, td{
    padding: 10px;
    text-align: center;
}

td a {
    display:block;
    text-decoration: none;
    color: inherit;
}

td a:hover {
    background: #FFEFBA;
}

.column-title {
    word-wrap: break-word;
    text-align: justify;
    max-width: 300px;
}

.surveys-table {
	display: flex;
	justify-content: center;
    width: 100%;
}